@import '../../../Assets/theme/_var.scss';
@import '../../../Assets/theme/_mixins.scss';

.user_details {
    .row {
        >div {
            padding: 0 12px 24px;
        }
    }

    .user_detail_box {
        padding: 20px;
        border-radius: 20px;
        height: 100%;

        @include theme() {
            background-color: theme-get('cardBg');
        }

        .line_chart {
            height: 200px;
        }
    }
}