@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

$themes: (
    lightTheme: ("baseBg": #ffffff,
        "darkBg": #000000,
        "headerBg": #f0f0f0,
        "shimmerClr" : linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%),
        "shimmerClr2" : #e3e4e5,
        "blueBg": #0D9DDC,
        "blueBgDark": #1c83af,
        'whiteClr': #fff,
        'labelClr': #090909,
        'textClr': #090909,
        'cardBg': #e6fcfd,
        'walletoption': #e6fcfd, 'walletoptionActive': #cff4f6,
        'closeBtn': invert(0),
        'inputBg': #ececec,
        'inputBgFocus': #d6dbdd,
        "placeholderClr": #6c757d,
        'linkClr':rgb(82, 105, 235),
        'linkClrHover': rgb(81, 103, 235, 0.5),
        'sidebarLinkActive' : #d5dadf,
        'theadBg': #e9e9e9,
        'greenClr': green,
        'noRecordFound': rgb(245, 245, 245),
        'cardGradient': transparent linear-gradient(64deg, #03A9F4 0%, #79b8df 49%, #95dbf9 100%) 0% 0% no-repeat padding-box,
        'borderClr': #ececec,
        'dangerClr' : rgb(248, 77, 77),
        'dangerClrActive' : rgb(212, 53, 53),
    ),
    darkTheme: ("baseBg": #000,
        "darkBg": #ffffff,
        "headerBg": #2b2b31,
        "shimmerClr" : linear-gradient(to left, #272429 8%, #1a191a 18%, #1a191a 33%, #272429 60%),
        "shimmerClr2" : #1f1f27,
        'whiteClr': #fff,
        "blueBg": #0e3c52,
        "blueBgDark": #0c2937,
        'labelClr': #f0efff,
        'textClr': #e0f2ff,
        'cardBg': #212326,
        'walletoption': #1f2324,
        'walletoptionActive': #0b0c0d,
        'closeBtn': invert(1),
        'inputBg': #201d1d,
        'inputBgFocus': #1d1b1b,
        "placeholderClr": #6c757d,
        'linkClr':rgb(82, 105, 235),
        'linkClrHover': rgb(81, 103, 235, 0.5),
        'sidebarLinkActive' : #222227,
        'theadBg': #18191d,
        'greenClr': #0f0,
        'noRecordFound': rgb(45, 45, 45),
        'cardGradient': transparent linear-gradient(64deg, #03A9F4 0%, #4299cf 49%, #1276a1 100%) 0% 0% no-repeat padding-box,
        'borderClr': #2c2929,
        'dangerClr' : rgb(255, 119, 119),
        'dangerClrActive' : rgb(219, 96, 96),
    ),
);